p{
    background-color: #bd2319;
    text-align: center;
    line-height: 30px;
}
h1{
    text-align: center;
    color: red;
    text-decoration: double underline black;
    font-family: Georgia;
}
h3{
    text-align: center;
    color: black;
}
a{
    color: rgb(0,255,0);
    text-decoration: none;
}
button{
    background-color: white;
    color: blueviolet;
}
textarea{
    color: rgb(0,0,0);
}