section{
    margin-top: 100px;
}
div{
    width: 200px;
    height: 50px;
    text-align: center;
    border: 2px solid black;
    margin: 10px;
    background-color: #0abe40 ;
}
div:nth-of-type(2n){
    background-color:#37aed3 ;
}
div:nth-of-type(3n){
    background-color: #c27d15;
}
#one{
    transform: rotate(45deg);
}
#two{
    transform: scale(0.5, 2);
}
#three{
    transform: translateX(100px);
}
#four{
    transform: skew(30deg);
    box-shadow: 5px 2px 50px green;
}
#five{
    transform: rotate(30deg) translateX(200px) skew(20deg)  ;
}