*{
    font-family:'Courier New';
}
h1{
    color: #1b74e4;
}
#ser{
    background-color: black;
    color: white;
}
/* #login, #reg{
    background-color: aqua;
} */
.userbtn{
    background-color: aqua;
}
