*{
    background-color: wheat;
}
div{
    height: 200px;
    background-color: aliceblue;
    width:500px;
    border: 5px solid  rgb(23, 24, 23);
    border-left-color: rgb(83, 83, 35);
    border-radius: 10%;
    padding: 15px;
    /* margin-bottom: 25px;
    margin-left: 20px; */
    margin: 10px 20px 30px;
}
h1{
    border: 4px dotted purple;
    border-radius: 20px;
    text-align: center;
}
button{
    border:2px solid black;
    border-radius: 10px;
    /* padding-left: 25px;
    padding-right: 25px; */
    background-color: yellow;
    padding: 0 20px 0 20px;
}